/tmp
/.idea
/target
/build
/classes
*.jar
*.class
/.lein-*
/.nrepl-port
*.iml
.DS_Store
default-private-key.txt
default_private_key.txt
/.cpcache
/data
.dir-locals.el
/resources/adminUI
/node_modules
/pom.xml
/.clj-kondo/.cache
/.eastwood
/scanning_results
