{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}
        com.fluree/db {:mvn/version "1.0.0-rc17"}
        com.fluree/raft {:mvn/version "1.0.0-beta1"}
        com.fluree/crypto {:mvn/version "0.3.5"}

        ;; network comm
        net.async/async {:mvn/version "0.1.0"}

        ;; Lucene
        clucie/clucie {:mvn/version "0.4.2"}

        ;; AWS S3 API
        com.cognitect.aws/api {:mvn/version "0.8.505"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.11.960"}
        com.cognitect.aws/s3 {:mvn/version "810.2.817.0"}

        ;; web server
        aleph-middleware/aleph-middleware {:mvn/version "0.2.0"}
        ring/ring-core {:mvn/version "1.9.1"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        compojure/compojure {:mvn/version "1.6.2"}

        ;; logging
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}

 :paths ["src" "resources"]

 :aliases
 {:mvn/group-id com.fluree
  :mvn/artifact-id ledger
  :mvn/version "1.0.0-beta10"

  :dev
  {:extra-paths ["dev" "test"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"]}

  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
   :exec-fn hf.depstar/jar
   :exec-args {:jar "target/fluree-ledger.jar"
               :group-id :mvn/group-id
               :artifact-id :mvn/artifact-id
               :version :mvn/version
               :sync-pom true}}

  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.206"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:jar "target/fluree-ledger.standalone.jar"
               :aot true
               :main-class fluree.db.server
               :group-id :mvn/group-id
               :artifact-id :mvn/artifact-id
               :version :mvn/version
               :sync-pom true}}

  :meta
  {:main-opts ["-m" "fluree.db.meta"]}}}
