[{:_id    "_predicate",
  :name   "dataSpecification/iid",
  :doc    "An internal id for unit tests",
  :type   "string",
  :unique true
  },
 {:_id    "_predicate",
  :name   "dataSpecification/title",
  :doc    "The title or name of a Data Source. Multiple Data Specifications can exist for a Data Source. The combination of title, version and schemaVersion define a particulate specification.",
  :type   "string",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecification/version",
  :doc    "The version of a Data Source. A Data Source may be altered over time.",
  :type   "string",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecification/schemaVersion",
  :doc    "The schema version being targeted by the mapping.",
  :type   "string",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecification/status",
  :doc    "The status of the Data Specification in regards to the DWG/DGC review process",
  :type   "tag",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecification/specTable",
  :doc    "reference to a collection of attributes defining the data source -> schema mapping",
  :type   "ref",
  :unique false,
  :index  true
  :multi  true,
  :restrictCollection "dataSpecAttributes",
  :component true,
  },
 {:_id    "_predicate",
  :name   "dataSpecAttributes/uid",
  :doc    "Unique id for unit tests",
  :type   "string",
  :unique true
  },
 {:_id    "_predicate",
  :name   "dataSpecAttributes/sourceTag",
  :doc    "The name of the Data Source element. The element name is unique within the DataSource.",
  :type   "string",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecAttributes/schemaTag",
  :doc    "The name, or suggested name, of the associated schema attribute.",
  :type   "string",
  :unique false,
  :index  true
  },
  {:_id    "_predicate",
  :name   "dataSpecAttributes/sourceDescription",
  :doc    "An optional description of the Data Source attribute.",
  :type   "string",
  :unique false,
  :index  true,
  :fullText true
  },
 {:_id    "_predicate",
  :name   "dataSpecAttributes/exampleValue",
  :doc    "An example value for the Data Source attribute",
  :type   "string",
  :unique false,
  :index  true
  },
 {:_id    "_predicate",
  :name   "dataSpecAttributes/included",
  :doc    "Whether or not the Data Source attribute is included in the mapping",
  :type   "boolean",
  :index  true
  }]