[{:_id "organization", :name "Coffee on the Block", :type "cafe", :auth "_auth$coffee"}
 {:_id "organization", :name "Ship Shape", :type "shipper", :auth "_auth$ship"}
 {:_id "organization", :name "McDonald's Farm", :type "grower", :auth "_auth$mcdonalds"}
 {:_id "organization", :name "The Roastery", :type "roaster", :auth "_auth$roastery"}
 {:_id "_auth$coffee",
  :id "Tf2j3SoemdjeTfi8t1CxjaYNmUZpWT3A8RD",
  :descId "coffeeOnTheBlock",
  :roles [["_role/id" "root"]]}
 {:_id "_auth$ship", :id "TfBq3t6AZ6ibCs3uxVAkW6CtPaWy7isrcRG", :descId "shipShape", :roles [["_role/id" "root"]]}
 {:_id "_auth$mcdonalds",
  :id "Tf2hxnc1FzAXtmk8ptwQ5V68zJjfd4tLwXL",
  :descId "mcDonaldsFarm",
  :roles [["_role/id" "root"]]}
 {:_id "_auth$roastery", :id "TfA6vquJMH65oQttpuURWvGnMdPPdAA69PF", :descId "roastery", :roles [["_role/id" "root"]]}]