[{:_id "_collection"
  :name "profile"}
 {:_id "_predicate"
  :name "profile/name"
  :type "string"}
 {:_id "_predicate"
  :name "profile/student_id"
  :type "string"}
 {:_id "_collection"
  :name "achievement"}
 {:_id "_predicate"
  :name "achievement/name"
  :type "string"}
 {:_id "_predicate"
  :name "achievement/human_code"
  :type "string"}
 {:_id "_predicate"
  :name "achievement/type"
  :type "string"}
 {:_id "_collection"
  :name "assertion"}
 {:_id "_predicate"
  :name "assertion/achievement"
  :type "ref"
  :restrictCollection "achievement"}
 {:_id "_predicate"
  :name "assertion/recipient"
  :type "ref"
  :restrictCollection "profile"}]
